@{
    ViewBag.Title = "Home Page";
}
    <h1>
        <div class="thumbnail">
            <a href="~/Image/header.PNG">
                <img src="~/Image/header.PNG" alt="Lights" style="width:100%">
            </a>
        </div>
    </h1>

    
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Image/comida.jpg">
                    <img src="~/Image/comida.jpg" alt="Comida" style="width:100%">
                    <div class="caption">
                        <p>Brindamos paquetes de catering service para cualquier tipo de evento, con los mejores platillos que pueda probar</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Image/musica.jpg">
                    <img src="~/Image/musica.jpg" alt="Music" style="width:100%">
                    <div class="caption">
                        <p>Ofrecemos los mejores cantantes y DJ's especialmente para su evento a un precio competitivo</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/Image/salon.jpg">
                    <img src="~/Image/salon.jpg" alt="Salon" style="width:100%">
                    <div class="caption">
                        <p>Contamos con salas de fiesta y salones de eventos a lo largo del pais que se ajustan a las necesidades de cualquier evento</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
