
@{
    ViewBag.Title = "Administrador";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <br />
            @Html.ActionLink("RegistrarAdministrador", "RegistrarAdministrador", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="row">
            <br />
            @Html.ActionLink("Recursos", "Index","Recursos", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>



</div>
